label {
  color: #b3bac2;
}

Form {
  width: 340px;
  margin: 0 auto;
}

input,
select {
  width: 17rem;
  padding: 0.65rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}
