button {
  background-color: #238636;
  color: #E9F0E4;
  padding: 5px 16px;
  width: 15rem;
  border-radius: 6px;
}

body {
  margin: 0;
  background-color: #0d1117;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}